<html>
<head>
  <title>To-Do List</title>
  <link href='../assets/style.css' rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add new Item.." required>
      <button type="submit"> Add Item </button>
    </form>
  </div>

  <ul>
    <li>Item 1 </li>
    <li>Item 2 </li>
  </ul>
</body>

</html>
